<div class="hero-unit play">
  <div class="container">
    <div class="row">
      <div class="span1">
        <p>Sam</p>
      </div>
      <div class="span5 offset1">
        <img class="row-margin" src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
      <div class="span5">
        <img src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <textarea class="form-control span12" rows="5" cols="50" id="comment"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span5">
        <img class="row-margin" src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
      <div class="span5">
        <img src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
      <div class="span1">
        <p>Holly</p>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <textarea class="form-control span12" rows="5" cols="50" id="comment"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="span1">
        <p>Henry</p>
      </div>
      <div class="span5 offset1">
        <img class="row-margin" src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
      <div class="span5">
        <img src=<%= DEFAULT_IMAGE_URL %> alt="face">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <textarea class="form-control span12" rows="5" cols="50" id="comment"></textarea>
      </div>
    </div>
  </div>
</div>

